<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> IKEA Choropleth Demo </title>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  </head>
  <body>
    <div>
      <label for="product-type-select">Product Type</label>
      <select id="product-type-select">
        {% for product_type in product_types %}
        <option value="{{ product_type }}" {% if product_type == default_product_type %}selected{% endif %}>{{ product_type }}</option>
        {% endfor %}
      </select>
    </div>

    <svg id="map" width="960" height="550"></svg>

    <script>
      const initialProductType = {{ default_product_type|tojson }};

      var projection = d3.geoMercator()

    </script>
  </body>
</html>
