<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IKEAlyzer</title>
  </head>
  <body class="bg-primary-subtle">
    <h1>Welcome to IKEAlyzer</h1>
    <p>Find the best deals on IKEA products worldwide!</p>
    <p>Our features to include:</p>
    <ul>
        <li>Grouped Bar Chart: Visualize selected items side-by-side.
X-axis can represent countries or items, while the y-axis
represents values such as price or rating.</li>
<li>
    Sortable Bar Chart: Sort items based on
selected criteria (e.g., ascending/descending price or
rating).
</li>
<li>
Choropleth Map: A geographic view of the data with
color intensity representing values such as price or number
of reviews for a selected item across different countries.
</li>
    </ul>
    <footer class="text-center fixed-bottom">
      <p>Sponsored by Palantir, Tesla, and the Department of Government Efficiency</p>
  </footer>
  </body>
</html>
