<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEAlyzer</title>
  </head>
  <body class="bg-primary-subtle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">IKEAlyzer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a href="/profile" class="btn">Profile</a>
            </li>
            <li class="nav-item">
              <a href="/catalog" class="btn">Catalog</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="btn">Logout</a>
            </li>
          </ul>
          <form class="d-flex" role="search" action="/catalog" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        </div>
        </nav>
    <div class="container pt-3">
      <div class="row justify-content-center pt-3">
        <div class="col-lg-8">
          <h1 class="mb-3">Welcome to IKEAlyzer</h1>
          <p class="lead">Find the best deals on IKEA products worldwide.</p>
          <div class="card">
          <div class="card-body">
            <h3 class="card-title">Today's Featured Item:</h3>
            <p>{{rand["product_name"].values[0]}}, from {{rand["country"].values[0]}}!</p>
            <p>{{rand["product_type"].values[0]}}</p>
            <p>Local Price: {{rand["price"].values[0]}} {{rand["currency"].values[0]}}</p>
            <a href="/product_graph/{{ rand["product_type"].product_group_id }}">Check it out</a>
          </div>
        </div>
          <div class="card shadow-sm mb-4">
            <div class="card-body">
              <h2 class="h4 mb-3">Browse the Catalog</h2>
              <a href="/catalog" class="btn btn-primary">Go to Catalog</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center fixed-bottom bg-white">
      <span class="h6">Thank you to our generous sponsors:</span>
      <img src="static/logo.jpg" width=100>
      <img src="static/logo2.png" width=25>
      <img src="static/logo3.png" width=100>
    </footer>
  </body>
</html>
